*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-size: 1rem;
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

/* Header */

.header {
    display: flex;
    align-items: center;
    /* padding: 25px 51px; */
    /* 25÷1440×100 =1,736111111*/
    /* 51÷1440×100 =2,847222222*/
    padding: 1.736111111% 2.847222222%;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid #CCCCCC;
}

.logo {
    width: 10%;
    /* 51/1440*100 = 3,541666667 */
    margin-right: 3.541666667%;
}

.logo__picture {
    width: 100%;
}

.menu {
    display: flex;
}

.menu__item {
    /* 57/295*100 =  19,322033898*/
    margin-right: 19.322033898%;
    white-space: nowrap;
}

.header__btn-wrap {
    width: 40%;
}

.header__btn-wrap {
    text-align: end;
}

.header__btn-transperent {
    display: inline-block;
    margin-right: 10px;
    /* padding: 13px 36px; */
    padding: 0 36px;
    border: 1px solid rgba(0, 0, 0, .5);
    font-weight: 600;
    font-size: 16px;
    line-height: 45px;
}

.header__btn-wrap>.header__btn {
    display: inline-block;
    /* padding: 13px 22px; */
    padding: 0 22px;
    background-color: #FF6336;
    border: 1px solid #FF6336;
    color: white;
    font-weight: 600;
    font-size: 16px;
    line-height: 45px;
}

.menu__link,
.btn {
    text-decoration: none;
    color: black;
}

/* hero */

.container {
    width: 89.583333333%;
    margin: 0 auto;
    outline: 1px solid green;
}

.hero__items-wrap {
    display: flex;
    justify-content: space-between;
}

.hero__article {
    width: 42.480620155%;
}

.hero__title {
    font-size: 4.063rem;
    line-height: 70px;
    font-weight: 600;
    margin-bottom: 50px;
}

.hero__text {
    font-size: 1.563rem;
    line-height: 70px;
    font-weight: 600;
    margin-bottom: 50px;
}

.hero__btn-wrap>.hero__btn {
    display: inline-block;
    padding: 22px 41px;
    background-color: #FF6336;
    border: 1px solid #FF6336;
    color: white;
    margin-right: 10px;
}

.hero__btn-transperent {
    display: inline-block;
    padding: 22px 36px;
    border: 1px solid rgba(0, 0, 0, .5);
}

.hero__manual {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
}

.hero__picture-wrap {
    width: 57.364341085%;
}

.hero__btn-wrap {
    margin-bottom: 25px;
}

.hero {
    padding: 137px 0 172px 0;
}

/* company */

.company {
    background-color: #FF9C7D;
}

.company__title {
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    margin: 0px 230px 81px 340px;
    width: 720px;
    text-align: center;
    margin: 0 auto 70px auto;
}

.company__img-wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.company_items-wrap {
    padding: 108px 0 104px 0;
}

/* Contents */

.contens {
    padding: 100px 0 150px 0;
}

.contens>.container {
    padding-top: 250px;
}

.contens>.container:first-child {
    padding-top: 0px;
}

.contents__article {
    display: flex;
    outline: 2px solid green;
}

.contents__description {
    width: 50%;
    outline: 2px solid red;
}

.contents__picture-wrap {
    width: 50%;
    outline: 2px solid blue;
}

.contents__picture {
    width: 100%;
    outline: 2px soldi palevioletred;
}

.contents__title {
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
}

.contents__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.contents__link {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}

/* options */

.options {
    background-color: #FFF8E4;
}

.options>.container {
    padding: 120px 0 147px 0;

}

.options__title {
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
}

.options__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.option__item {
    width: 26.5%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 76px;
}

.option__item:nth-child(3n+2) {
    margin: 76px 135px 0 120px;
}

.option__picture-wrap {
    width: 37.24724254%;
    /* 160/ 429.562 =37,24724254 */
    /* width: 160px; */
    text-align: center;
    margin: 0 auto 20px;
}

.option__picture {
    width: 100%;
}

.options__titles {
    margin-bottom: 23px;
    font-weight: 600;
    font-size: 25px;
    line-height: 35px;
}

.option__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}

/* team */

.team {
    background: #E5E5E5;
}

.team>.container {
    padding: 154px 0 217px 0;
}

.team__title {
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
}

.team__items {
    display: flex;
    margin-top: 75px;
}

.team__item {
    /* 409/1290*100% =  */
    width: 31.705426357%;
    display: flex;
    flex-direction: column;
}

.team__item:nth-child(2) {
    /* 31/1290*100% =  */
    margin: 0% 2.403100775%;
}

.team__picture-wrap {
    /* 179/409*100% =  */
    width: 43.765281174%;
    margin: 0 auto 20px;
}

.team__picture {
    width: 100%;
    height: 183px;
}

.team__picture[alt="managersPicture"] {
    width: 67%;
}

.team__titles {
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
}

.team__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 25px;
}

.team__link {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

/* quote */

.quote {
    background: #C9E8F2;
}

.quote>.container {
    padding: 53px 0 105px 0;
}

.wrap {
    display: flex;
    justify-content: space-between;
}

.quote__body-wrap {
    width: 920px;
}

.quote__text {
    margin-top: 10px;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
}

.quote__author {
    margin-top: 23px;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
}

.quote__foto {
    width: 100%;
}

/* rewards */

.rewards {
    background: #DABC98;
    outline: 2px solid red;
}

.rewards>.container {
    padding: 80px 0;
    outline: 2px solid blue;
}

.rewards__title {
    font-weight: 600;
    font-size: 35px;
    line-height: 50px;
    width: 481px;
   
    outline: 2px solid white;
}

.rewards__items {
    display: flex;
    outline: 2px solid green;
}

.rewards__logo {
    display: flex;
    border-right: 1px solid #000000;
    width: 809px;
    justify-content: space-between;
    outline: 2px solid yellow;
    align-items: center;
}

.rewards__item {
    display: flex;
    justify-content: space-around;
    width: 481px;
    align-items: center;
}

.rewards__picture {
    width: 100%;    
}